reddit-reader.json
{
  "nodes": [
    {
      "id": "CronTrigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 250],
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "RSSFeed",
      "name": "Fetch r/technology",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [500, 250],
      "parameters": {
        "url": "https://www.reddit.com/r/technology/.rss",
        "options": {
          "limit": 5
        }
      }
    },
    {
      "id": "ChatGPT",
      "name": "Generate Blog Post",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [750, 250],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-key",
          "name": "OpenAI API"
        }
      },
      "parameters": {
        "resource": "completion",
        "prompt": "Write a 1000-word blog post based on this Reddit post title: \"{{$json[\"title\"]}}\"\n\nLink: {{$json[\"link\"]}}\n\nInclude an intro, 3-4 subheadings, and a conclusion. Make it engaging, accessible, and informative.",
        "model": "text-davinci-003",
        "temperature": 0.8,
        "maxTokens": 1500,
        "stop": []
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch r/technology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch r/technology": {
      "main": [
        [
          {
            "node": "Generate Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
